/* CSS tasks 
Make the mainScreen a Grid
Fill with contents, and ensure the HTML is properly structured.

Add Google logo
Input form
Two search buttons.

spend time, practice, learn, it's about completing what you start. :) you can make it bro. *)

- begin with content.






*/
html{
    max-height: 100vh;
    height: 100vh;
}
body{
    display:grid;
    height: 100%;
    grid-template-rows: 90% 5% 5%;
    font-family: 'Questrial', sans-serif;
}

main{
    display: grid;
    grid-template-rows: 1fr 9fr;
}

header{
    text-align: right;
    padding: 0 20px;
}

header ul li{
    display: inline-block;
    margin-right: 10px;
    font-size: 14px;
}

.imgDiv{
    line-height:25px;
}

.notif{
    vertical-align: middle;
    width: 20px;
}
.blueDiv{
    background: #4343ce;
    color: white;
    font-size: 18px;
    padding: 3px;
    border-radius: 50% 50%;
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
}
main section{
    text-align:center;
}
.google-logo{
    margin-top: 60px;
    width: 322px;
}

.query{
    width: 35%;
    height: 32px;
    border-radius: 32px;
    border: solid 1px #dbdbdb;
    padding: 5px 20px;
}

.query:focus{
    border-color: #e6e8ea;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(207, 216, 224, 0.7);
    outline: 0 none;
}

.query{
    background-image: url("../images/mic.png"); /* The image used */
    background-position: 97% center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: 22px; 
}

form{
    margin-bottom: 22px;
    margin-top: -37px;
}

.btn{
    height: 36px;
    line-height: 27px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    cursor: pointer;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
}

.links{
    color: #4343ce;
}

footer ul li{
    display: inline-block;
    margin-right: 10px;
    font-size: 14px;
}

footer{
    background: #f2f2f2;
    color: #6f6f6f;
    padding: 0px 5px 0px 5px;
}

#bottomFooter{
    display: flex;
    flex-direction: row;
    border-top: solid 1px  #d6d3d3;
}

#left{
    flex : 1;
}
#right{
    flex : 1;
    text-align: right;
}

footer ul{
    line-height: 5px;
    padding-right: 20px;
}